<header class="grid w-full grid-cols-[1fr_auto] gap-3 print:grid-cols-1">
    <section class="grid grid-cols-1 gap-1.5 print:place-items-center">
        <SectionTitle Title=@Identity.Name />
        <TextElement Title=@Identity.Description
                     AriaLabel=@Identity.Description
                     Type="TextType.Paragraph"
                     Size="TextSize.Base"
                     Width="TextWidth.Medium"
                     VisibleOnPrint="false"
                     HasBackgroundColor="false"
                     IsBold="false" />
        <NavigationLink Title=@Identity.Location.Place
                        AriaLabel=@Identity.Location.Place
                        Url=@Identity.Location.Url
                        IsBold="false" />
        <nav aria-label="Contact link">
            <ul class="flex gap-1 not-print:text-foreground/80 print:text-foreground">
                @foreach (var contact in @Identity.Contact)
                {
                    @if (contact.DisplayOptions.VisibleOnPrint)
                    {
                        @if (contact.Type.Equals(ContactType.List))
                        {
                            <li class="print:hidden">
                                <a aria-label="@contact.Label" class="inline-flex size-8 items-center justify-center rounded-md border border-neutral-200 hover:bg-neutral-100" target="_blank" href="@contact.Url">
                                    <i class="@contact.Icon"></i>
                                </a>
                            </li>
                        }
                        else if (contact.Type.Equals(ContactType.Button))
                        {
                            <li class="print:hidden">
                                <button aria-label="@contact.Label" @onclick="PrintWindow" class="inline-flex size-8 cursor-pointer items-center justify-center rounded-md border border-neutral-200 hover:bg-neutral-100">
                                    <i class="@contact.Icon"></i>
                                </button>
                            </li>
                        }
                    }

                    @if (contact.DisplayOptions.VisibleOnScreen)
                    {
                        <li class="mr-2 not-print:hidden">
                            <a class="flex items-center gap-1.5"
                               href="@contact.Url"
                               target="_blank">
                                <i class="@contact.Icon"></i>
                                <span class="underline">@contact.Label</span>
                            </a>
                        </li>
                    }
                }
            </ul>
        </nav>
    </section>
    <picture class="flex size-28 h-full shrink-0 items-start overflow-hidden rounded-xl print:hidden">
        <img class="block aspect-square h-full w-full object-cover" src=@Identity.ProfilePicture alt="Profile picture of Wilson Souto" />
    </picture>
</header>

@code {

    [Inject] private IJSRuntime JS { get; set; } = default!;

    [Parameter] public Identity Identity { get; set; } = default!;

    private void PrintWindow()
    {
        JS.InvokeVoidAsync("print");
    }

}
